.slide-categorise
  .draggy-parent
    position: relative

  .draggy
    z-index: 2
    position: absolute !important
    max-width: 90%
    min-width: 70%
    transition: 300ms
    left: 50%
    &.starting-pos
      top: 50% !important
      transform: translate3d(-50%, -50%, 0) !important

  .droppy
    padding: 30px 20px
    transition: background-color 300ms !important
    border-radius: 4px
    margin: 10px
    &.droppy-top
      padding-bottom: 40px
    &.droppy-bottom
      padding-top: 40px
    &.active
      background-color: transparentize(#000, 0.6)

  @media screen and (min-width: $screen-md-max)
    h1
      font-size: 2.5em

    .draggy-parent
      max-width: 600px
      margin: 0 auto

  &.state-complete
    .droppy-false.active
      animation: rubber 600ms 1
      background-color: transparentize(#000, 0.8)

    .droppy-true,
    .droppy-true.active
      background-color: transparentize(#000, 0.6)

